<p id="notice"><%= notice %></p>

<p>
  <%= @question.q_text %>
</p>


<%= form_for @response do |f| %>

  <%= f.hidden_field :question_id %>

  <% case @question.ans_type.to_s %>
  <% when "1" %>

	<%= f.text_area :value %>	

  <% when "2" %>
	<ul><% @question.answer_choices.each do |ac| %>
    	<li><%= radio_button_tag "response[answer_choice_ids][]", ac.id %>
		<%= label_tag "response[answer_choices][]", ac.choice_text %> </li>
    <% end %></ul>

  <% when "3" %>
  	<ul><% @question.answer_choices.each do |ac| %>
  		<li><%= check_box_tag "response[answer_choice_ids][]", ac.id %>
		<%= label_tag "response[answer_choices][]", ac.choice_text %></li>
  	<% end %></ul>
  <% end %>

<p>
	<%= f.submit 'done' %>
</p>		
<% end %>

<p>
  <%= link_to "survey home", survey_path(@survey)  %>
</p>
